#header {
  position: sticky;
  top: 0;
}
.btn-header {
  border-color: #fcd127;
  color: #fff;
  border-radius: 0;
  font-family: "PT Sans", sans-serif;
  &:hover {
    background-color: #fcd127;
  }
}
.head-text {
  font-size: 14px;
  font-family: "Montserrat", sans-serif;
}
.navbar-secendary {
  background: #2d2d2d;
  color: #fff;
  i {
    color: #fcd127;
    font-size: 20px;
  }
}
.nav-link-cus {
  font-weight: 500;
  color: #000;
}
.btn-close-cus {
  border-radius: 0;

  &:hover {
    color: #fff;
    text-decoration: none;
    opacity: 0.75;
    background-color: red;
  }
  &:focus {
    outline: 0;
    background-color: red;
    box-shadow: none;
    opacity: 1;
  }
}

.navbar-toggler-cus {
  border-radius: 0;
  padding: 0;
  font-size: 20px;
  border: none;
  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
}
.main-nav {
  background-color: #f3f3f3;
}

.search-bar .fa-search {
  color: #999;
  margin-left: 0.33em;
}

.search-bar:focus-within .fa-search {
  display: none;
}

.search-bar input {
  padding: 10px;
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  background-color: transparent;
  border: thin solid #999;
  height: 30px;
  border: none;
  width: 100%;
}

.search-bar input:focus {
  outline: none;
  border-color: #fcd127;
}

.search-panel {
  width: 100%;
  i {
    color: #2d2d2d99;
    margin: auto 10px;
  }
  display: flex;
  flex-direction: row;
  border: 1px solid #64646499;
}
.header-link-hover:hover {
  color: #fff;
  background-color: #2d2d2d;
}
@media screen and (min-width: 992px) {
  .search-panel {
    width: 20vw;
  }

}