@import "../global";

#objects__page {
  padding-top: 36px;
  font-family: "Montserrat";
  background: #e5e5e5;
  .objects__page__hero {
    .objects__page__hero__link {
      a {
        font-weight: 400;
        line-height: 15px;
        color: #000000;
        text-decoration: none;
      }
      a:nth-child(2) {
        color: #898989;
      }
    }
  }
  .objects__page__hero__title {
    font-weight: 700;
    font-size: 44px;
    line-height: 141.69%;
    color: #000000;
  }
  .objects__page__second__title {
    padding-bottom: 51px;
    font-weight: 400;
    font-size: 16px;
    line-height: 156.69%;
    /* or 25px */

    color: #000000;
  }
  .objects__page__subtitle {
    padding-top: 120px;
    font-weight: 700;
    font-size: 40px;
    line-height: 141.69%;
    color: #2d2d2d;
  }
  .objects__page__subtitle__second {
    padding-top: 120px;
    padding-bottom: 75px;
    font-weight: 700;
    font-size: 40px;
    line-height: 141.69%;
    color: #2d2d2d;
  }
}
