@import "../base/typography";

// fonts

$montserrat: "Montserrat", sans-serif;

$ptsans: "PT Sans", sans-serif;

$roboto: "Roboto", sans-serif;

// color

$peach: #fcb427; /*shaftoli rang*/

$back: #e5e5e5; /*background color*/

$text: #2d2d2d; /*text color*/
